# Ignore virtual environment
venv/

# Ignore API keys and secrets
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore unnecessary system files
.DS_Store
Thumbs.db

.ipynb_checkpoints/
